<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="container">
    <%- include("./partials/header.ejs") %> <%-
    include("./partials/page-title.ejs") %>
    <form action="new" method="post">
      <label for="title" data-field>
        Title
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          required
        />
      </label>

      <label for="content" data-field>
        Content

        <textarea
          type="content"
          id="content"
          name="content"
          required
        ></textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
